<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My First Saas Project</title>    

    <% include /src/include/styles.ejs %>

</head>
<body>
    <% include /src/include/header.ejs %>

    <!-- <main id="tmp-page-index">
        
    </main> -->
     
    <section class="banner" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ban-heading">
                        <h1>Make your Product Happen</h1>
                    </div>
                    <div class="ban-btns">
                        <button class="btn btn-primary ban-btn" >
                            Read More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ banner  -->

    <!-- about -->
    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="abt-img">
                        <img src="../img/abt.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="abt-content">
                        <h2>About us</h2>
                        <p>
                                We pride ourselves on our commitment to excellence, as well as our ability to 
                                deliver for our partners. Learn more about how our talented team of 
                                passionate designers, developers, and product experts can build value for 
                                you.
                        </p>
                        <p>
                                Vestibulum mollis sodales tellus, sed porta lorem molestie vitae. Sed 
                                fermentum metus justo, in vestibulum felis imperdiet sed. Ut non purus sed 
                                sapien auctor pellentesque. Sed id sem elementum, placerat nibh upretium 
                                metus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /about-->

    <!-- feature -->
    <section class="feature" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="feature-title">
                        <h2 class="animated fadeInUp mb-3">Our feature</h2>
                    </div>
                </div>
            </div>
            <!-- 1st row -->
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature-icon">
                        <img src="../img/icon1.svg" class=" f-icon">
                    </div>
                    <div class="feature-content text-center">
                        <h3>Planing & Strategy</h3>
                        <p>
                                It all begins with your idea. Following best practices, we help you gain insight into the people, the market and the growth you need to have a successful product.
                        </p>
                    </div>
                </div>
                <!-- sedond icon -->
                <div class="col-md-4 text-center">
                        <div class="feature-icon">
                            <img src="../img/icon2.svg" class=" f-icon">
                        </div>
                        <div class="feature-content text-center">
                            <h3>Design & Ux</h3>
                            <p>
                                    Stunning, intuitive design is essential to your product’s functionality and brand story. Our design team’s diverse expertise will guide the innovative.
                            </p>
                        </div>
                    </div>

                    <!-- third icon -->
                    <div class="col-md-4 text-center">
                            <div class="feature-icon">
                                <img src="../img/icon3.svg" class=" f-icon">
                            </div>
                            <div class="feature-content text-center">
                                <h3>Development</h3>
                                <p>
                                        Our developers are forward-thinking specialists who will integrate seamlessly into your project and deliver outstanding native experiences. 
                                </p>
                            </div>
                        </div>
            </div> <!-- / 1st row -->
            
            <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="feature-icon">
                               <img src="../img/icon4.svg" class="f-icon" >
                        </div>
                        <div class="feature-content text-center">
                            <h3>quality Assurance</h3>
                            <p>
                                    Our dedicated in-house testing & quality assurance department executes thorough and complex testing processes depending on the scope of your project. 
                            </p>
                        </div>
                    </div>
                    <!-- sedond icon -->
                    <div class="col-md-4 text-center">
                            <div class="feature-icon">
                                <img src="../img/icon5.svg" class="f-icon">
                            </div>
                            <div class="feature-content text-center">
                                <h3>Launch Product</h3>
                                <p>
                                        We always launch the product with the highest and the best quality on every kind category. We dedicate to make our client always happy.
                                </p>
                            </div>
                        </div>
    
                        <!-- third icon -->
                        <div class="col-md-4 text-center">
                                <div class="feature-icon">
                                    <img src="../img/icon6.svg" class="f-icon">
                                </div>
                                <div class="feature-content text-center">
                                    <h3>Marketing</h3>
                                    <p>
                                            Product development is only half the battle. Through multiple tools, plans and strategies, our marketing team makes sure your app is embraced by your target.
                                    </p>
                                </div>
                            </div>
                </div> <!-- / 2nd row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /featuer -->


    <!-- info count -->
    <section class="count" id="count">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-lg-center">
                    <div class="info-box" >
                        <h3>130+</h3>
                        <h6>Peoples</h6>
                    </div>
                </div>
                <div class="col-md-3 text-lg-center">
                    <div class="info-box">
                        <h3>100+</h3>
                        <h6>Website</h6>
                    </div>
                </div>
                <div class="col-md-3 text-lg-center">
                    <div class="info-box">
                        <h3>17</h3>
                        <h6>Big Company</h6>
                    </div>
                </div>
                <div class="col-md-3 text-lg-center">
                    <div class="info-box">
                        <h3>10</h3>
                        <h6>Nationalities</h6>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /info count -->


    <!-- our team -->
    <section class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-lg-center">
                    <h4>Our Team</h4>
                </div>
            </div>
            <div class="row mt-70">
                <div class="col-md-3">
                    <div class="team-box1">
                        <div class="team-img1">
                            <img src="../img/t1.png" alt="team">
                        </div>
                        <div class="team-content1">
                            <h6>Richard Thomas</h6>
                            <p>Web Designer</p>
                            <ul class="team-social1">
                                <li>
                                    <a href="#">
                                            <img src="../img/fb-active.svg" height="15px" width="15px" title="Facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                            <img src="../img/twitter-active.svg" height="15px" width="15px" title="Twitter">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                            <img src="../img/ball-active.svg" height="15px" width="15px" title="Ball">
                                            
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="../img/t3.png" alt="team">
                        </div>
                        <div class="team-content1">
                            <h6>Logan McDeniel</h6>
                            <p>Web Tester</p>
                            <ul class="team-social">
                                <li>
                                        <img src="../img/fb.svg" height="15px" width="15px" title="Facebook">
                                </li>
                                <li>
                                        <img src="../img/twitter.svg" height="15px" width="15px" title="Twitter">
                                </li>
                                <li>
                                    <a href="#">
                                       <img src="../img/ball.svg" height="15px" width="15px" title="Ball">
                                            
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="../img/t1.png" alt="team">
                        </div>
                        <div class="team-content">
                            <h6>Richard Thomas</h6>
                            <p>Web Designer</p>
                            <ul class="team-social">
                                    <li>
                                            <img src="../img/fb.svg" height="15px" width="15px" title="Facebook">
                                    </li>
                                    <li>
                                            <img src="../img/twitter.svg" height="15px" width="15px" title="Twitter">
                                    </li>
                                    <li>
                                        <a href="#">
                                           <img src="../img/ball.svg" height="15px" width="15px" title="Ball">
                                                
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="../img/t2.png" alt="team">
                        </div>
                        <div class="team-content1">
                            <h6>Marcus Simmon</h6>
                            <p>UX/UI Expert</p>
                            <ul class="team-social">
                                    <li>
                                            <img src="../img/fb.svg" height="15px" width="15px" title="Facebook">
                                    </li>
                                    <li>
                                            <img src="../img/twitter.svg" height="15px" width="15px" title="Twitter">
                                    </li>
                                    <li>
                                        <a href="#">
                                           <img src="../img/ball.svg" height="15px" width="15px" title="Ball">
                                                
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- /our team -->

    <!-- footer -->
    <% include src/include/footer.ejs %>
    <!-- / footer -->
    
    <% include src/include/scripts.ejs %>

    <script>
        $(document).on("scroll", function(){
            if ($(document).scrollTop() > 100){
                $("#navigation").addClass("shrink");
        } else {
                $("#navigation").removeClass("shrink");
     }
});

   
              new WOW().init();
</script>

   
    
    
</body>
</html>