<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer-block">
                        <li class="footer-item">
                            <a href="#" class="footer-link">Product</a>
                        </li>
                        <li>
                            <a href="#">Source Code</a>
                        </li>
                        <li>
                            <a href="#">Engine</a>
                        </li>
                        <li>
                            <a href="#">Intergration</a>
                        </li>
                        <li>
                            <a href="#">Data Observatory</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-block">
                        <li class="footer-item">
                            <a href="#" class="footer-link">Solution</a>
                        </li>
                        <li>
                            <a href="#">Source Code</a>
                        </li>
                        <li>
                            <a href="#">Engine</a>
                        </li>
                        <li>
                            <a href="#">Intergration</a>
                        </li>
                        <li>
                            <a href="#">Data Observatory</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-block">
                        <li class="footer-item">
                            <a href="#" class="footer-link">Resources</a>
                        </li>
                        <li>
                            <a href="#">Source Code</a>
                        </li>
                        <li>
                            <a href="#">Engine</a>
                        </li>
                        <li>
                            <a href="#">Intergration</a>
                        </li>
                        <li>
                            <a href="#">Data Observatory</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-block">
                        <li class="footer-item">
                            <a href="#" class="footer-link">About</a>
                        </li>
                        <li>
                            <a href="#">Source Code</a>
                        </li>
                        <li>
                            <a href="#">Engine</a>
                        </li>
                        <li>
                            <a href="#">Intergration</a>
                        </li>
                        <li>
                            <a href="#">Data Observatory</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; 2017 Pamplet. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>