<header>
    <nav class="navbar navbar-expand-md bg-white fixed-top" id="navigation">
        <div class="container">
            <a href="index.html" class="navbar-brand"><img src="../img/Logo.png" alt="Logo" title="compnay_logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynav">
                    <ul class="navbar-nav menu ml-auto">
                        <li class="nav-item">
                            <a href="#home" class="nav-link js-scroll-trigger">Home</a>
                        </li>
                        <li class="nav-item">
                                <a href="#about" class="nav-link js-scroll-trigger">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#feature" class="nav-link js-scroll-trigger">Feature</a>
                        </li>
                        <li class="nav-item">
                            <a href="#team" class="nav-link js-scroll-trigger">Team</a>
                        </li>
                    </ul>
                </div>
                       
        </div>
    </nav>
</header>